body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fdf8e3;   /* TRA cream */
}

input, button {
  padding: 8px;
  font-size: 14px;
}

button {
  background: #facc15;  /* TRA yellow */
  border: 1px solid black;
  cursor: pointer;
}

button:hover {
  background: #eab308;
}

header {
  background: black;
  color: #facc15;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
